<div class="content" style="text-align: center;">
    <h2 style="text-align: center;">Forgot Password</h2>
    <p>After submitting, we will provide you a link where you will be able to change your password.</p>
    <form [formGroup]="form" fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field fxFlex appearance="outline">
            <mat-label>E-Mail</mat-label>
            <input matInput formControlName="email" type="email">
        </mat-form-field>
    </form>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
        <button mat-raised-button  (click)="dialogRef.close()">Cancel</button>
        <button mat-raised-button color="accent" (click)="confirmClick()">Confirm</button>
    </div>
    
    
</div>