<div class="content" style="padding: 25px;" fxLayout="column" fxLayoutAlign="center">

    <h1 style="text-align: center;">Your Conversations</h1>

    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
        <mat-card fxFlex="20%">
            <mat-selection-list [multiple]="false">
                <mat-list-option selected (click)="receivedClick()">
                  Received
                </mat-list-option>
                <mat-list-option (click)="sentClick()">
                    Sent
                  </mat-list-option>
              </mat-selection-list>
            </mat-card>

        <mat-card fxFlex>
            <div *ngIf="!loaded" fxLayout="row" fxLayoutAlign="center">
                <mat-spinner color="accent"></mat-spinner>
            </div>

            <!-- RECEIVED -->
            <mat-selection-list [multiple]="false" *ngIf="!switched && loaded">
                <div fxLayout="row" fxLaytutAlign="start center" >
                    <b fxFlex="20%">Title</b>
                    <b fxFlex>Content</b>
                    <b fxFlex fxFlex="25%">From</b>
                    <b fxFlex fxFlex="20%">When</b>
                </div>
                <mat-list-option *ngFor="let message of received" (click)="openMessage(message)">
                    
                    <div fxLayout="row" fxLayoutAlign="center">
                        <div fxFlex="20%">
                            <b>{{message.title}}</b>
                        </div>
                        <div class="message-content" fxFlex>
                            {{message.content}}
                        </div>
                        <div fxFlex="25%">
                            {{message.fromUser}}
                        </div>
                        <div fxFlex="20%">
                            {{message.date | date:'short'}}
                        </div>
                    </div>
                </mat-list-option>

                <div *ngIf="received?.length == 0">
                    Empty
                </div>
            </mat-selection-list>

            <!-- SENT -->
            <mat-selection-list [multiple]="false" *ngIf="switched && loaded">
                <div fxLayout="row" fxLaytutAlign="start center" >
                    <b fxFlex="20%">Title</b>
                    <b fxFlex>Content</b>
                    <b fxFlex fxFlex="25%">From</b>
                    <b fxFlex fxFlex="20%">When</b>
                </div>
                <mat-list-option *ngFor="let message of sent" (click)="openMessage(message)">
                    <div fxLayout="row" fxLayoutAlign="center">
                        <div fxFlex="20%">
                            <b>{{message.title}}</b>
                        </div>
                        <div class="message-content" fxFlex>
                            {{message.content}}
                        </div>
                        <div fxFlex="25%">
                            {{message.toUser}}
                        </div>
                        <div fxFlex="20%">
                            {{message.date | date:'short'}}
                        </div>
                    </div>
                </mat-list-option>

                <div *ngIf="sent?.length == 0">
                    Empty
                </div>
            </mat-selection-list>
        </mat-card>
    </div>

</div>