<div class="spinner" style="margin: 25px;" fxLayout="row" fxLayoutAlign="center" *ngIf="!loaded && !loadedVehicles && !loadedPriceLists">
    <mat-spinner color="accent" ></mat-spinner>
</div>


<div *ngIf="loaded && loadedVehicles && loadedPriceLists" class="content" style="margin: 25px;" fxLayout="column" fxLayoutAlign="center">
    <h1 style="text-align: center;">My Requests</h1>

    <mat-card>
        <mat-tab-group mat-align-tabs="center" dynamicHeight style="background-color: white; margin: 25px;">

            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon color="accent" class="example-tab-icon">payments</mat-icon>
                    &nbsp;
                    Pending
                </ng-template>
                <div fxLayout="column" style="height:100%;" fxLayoutAlign="center center">
                    <mat-card class="request-card" fxFlex *ngFor="let pendingRequest of pending">

                        <div fxLayout="row" fxLayoutAlign="center center">
                            <mat-card-header fxFlex>
                                <mat-card-title>{{vehicleName(pendingRequest)}}</mat-card-title>
                                <mat-card-subtitle>{{pendingRequest?.ad?.address}}</mat-card-subtitle>
                            </mat-card-header>

                            <div fxFlex="15%">
                                <button mat-mini-fab color="accent" (click)="cancelRequest(pendingRequest)" matTooltip="Cancel request" >
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </div>
                        </div>

                        <mat-card-content style="padding-left: 10px;padding-right: 10px;">

                          <table fxFlex>
                            <tbody>
                                <tr>
                                    <th style="text-align: end;">From:</th>
                                    <td>{{pendingRequest?.fromDate | date:'short'}}</td>
                                </tr>
                                <tr>
                                    <th style="text-align: end;">To:</th>
                                    <td>{{pendingRequest?.toDate | date:'short'}}</td>
                                </tr>
                                <tr>
                                  <th style="text-align: end;">Price per day:</th>
                                  <td>{{pricePerDay(pendingRequest) + '$'}}</td>
                                </tr>

                                <tr>
                                  <th style="text-align: end;">Price per mile (if limit exceeded):</th>
                                  <td>{{pricePerMile(pendingRequest)}} $</td>
                                </tr>

                                <tr>
                                  <th style="text-align: end;">Collision damage waiver:</th>
                                  <td>{{priceCDW(pendingRequest) === 0 ? 'Not included' : (priceCDW(pendingRequest) + '$')}}</td>
                                </tr>

                                <tr>
                                  <th style="text-align: end;">Discount over 30 days:</th>
                                  <td>{{discount(pendingRequest)}} %</td>
                                </tr>

                              <tr>
                                  <th style="text-align: end;">Total price: </th>
                                  <td [innerHTML]="calculatePrice(pendingRequest)"></td>
                              </tr>
                            </tbody>
                        </table>
                            <mat-chip-list class="no-wrap" *ngIf="pendingRequest.bundleId">
                              <mat-chip color="accent" selected>Bundled</mat-chip>
                            </mat-chip-list>
                        </mat-card-content>

                    </mat-card>
                </div>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon color="accent" class="example-tab-icon">lock</mat-icon>
                    &nbsp;
                    Reserved
                </ng-template>
                <div fxLayout="column" style="height:100%;" fxLayoutAlign="center center">
                    <mat-card class="request-card" fxFlex *ngFor="let reservedRequest of reserved">

                        <div fxLayout="row" fxLayoutAlign="center center">
                            <mat-card-header fxFlex>
                                <mat-card-title>{{vehicleName(reservedRequest)}}</mat-card-title>
                                <mat-card-subtitle>{{reservedRequest?.ad?.address}}</mat-card-subtitle>
                            </mat-card-header>

                            <div fxFlex="15%">
                                <button mat-mini-fab color="accent" matTooltip="Contact owner" (click)="sendMessage(reservedRequest)">
                                    <mat-icon>mail</mat-icon>
                                </button>
                            </div>
                            &nbsp;
                            <div fxFlex="15%">
                              <button mat-mini-fab color="accent" matTooltip="Pay" (click)="payRequest(reservedRequest)">
                                  <mat-icon>payment</mat-icon>
                              </button>
                              &nbsp;
                              <div fxFlex="15%">
                                <button mat-mini-fab color="accent" (click)="cancelRequest(reservedRequest)" matTooltip="Cancel request" >
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </div>
                          </div>
                        </div>

                        <mat-card-content style="padding-left: 10px;padding-right: 10px;">

                            <table fxFlex>
                                <tbody>
                                    <tr>
                                        <th style="text-align: end;">From:</th>
                                        <td>{{reservedRequest?.fromDate | date:'short'}}</td>
                                    </tr>
                                    <tr>
                                        <th style="text-align: end;">To:</th>
                                        <td>{{reservedRequest?.toDate | date:'short'}}</td>
                                    </tr>
                                    <tr>
                                      <th style="text-align: end;">Price per day:</th>
                                      <td>{{pricePerDay(reservedRequest) + '$'}}</td>
                                    </tr>

                                    <tr>
                                      <th style="text-align: end;">Price per mile (if limit exceeded):</th>
                                      <td>{{pricePerMile(reservedRequest)}} $</td>
                                    </tr>

                                    <tr>
                                      <th style="text-align: end;">Collision damage waiver:</th>
                                      <td>{{priceCDW(reservedRequest) === 0 ? 'Not included' : (priceCDW(reservedRequest) + '$')}}</td>
                                    </tr>

                                    <tr>
                                      <th style="text-align: end;">Discount over 30 days:</th>
                                      <td>{{discount(reservedRequest)}} %</td>
                                    </tr>

                                  <tr>
                                      <th style="text-align: end;">Total price: </th>
                                      <td [innerHTML]="calculatePrice(reservedRequest)"></td>
                                  </tr>
                                </tbody>
                            </table>

                            <mat-chip-list class="no-wrap" *ngIf="reservedRequest.bundleId">
                              <mat-chip color="accent" selected>Bundled</mat-chip>
                            </mat-chip-list>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon color="accent" class="example-tab-icon">attach_money</mat-icon>
                    &nbsp;
                    Paid
                </ng-template>
                <div fxLayout="column" style="height:100%;" fxLayoutAlign="center center">
                    <mat-card class="request-card" fxFlex *ngFor="let paidRequest of paid">

                        <div fxLayout="row" fxLayoutAlign="center center">
                            <mat-card-header fxFlex>
                                <mat-card-title>{{vehicleName(paidRequest)}}</mat-card-title>
                                <mat-card-subtitle>{{paidRequest?.ad?.address}}</mat-card-subtitle>
                            </mat-card-header>

                            <div fxFlex="15%">
                                <button mat-mini-fab color="accent" matTooltip="Contact owner" (click)="sendMessage(paidRequest)" >
                                    <mat-icon>mail</mat-icon>
                                </button>
                            </div>
                        </div>

                        <mat-card-content style="padding-left: 10px;padding-right: 10px;">

                          <table fxFlex>
                            <tbody>
                                <tr>
                                    <th style="text-align: end;">From:</th>
                                    <td>{{paidRequest?.fromDate | date:'short'}}</td>
                                </tr>
                                <tr>
                                    <th style="text-align: end;">To:</th>
                                    <td>{{paidRequest?.toDate | date:'short'}}</td>
                                </tr>
                                <tr>
                                  <th style="text-align: end;">Price per day:</th>
                                  <td>{{pricePerDay(paidRequest) + '$'}}</td>
                                </tr>

                                <tr>
                                  <th style="text-align: end;">Price per mile (if limit exceeded):</th>
                                  <td>{{pricePerMile(paidRequest)}} $</td>
                                </tr>

                                <tr>
                                  <th style="text-align: end;">Collision damage waiver:</th>
                                  <td>{{priceCDW(paidRequest) === 0 ? 'Not included' : (priceCDW(paidRequest) + '$')}}</td>
                                </tr>

                                <tr>
                                  <th style="text-align: end;">Discount over 30 days:</th>
                                  <td>{{discount(paidRequest)}} %</td>
                                </tr>

                              <tr>
                                  <th style="text-align: end;">Total price: </th>
                                  <td [innerHTML]="calculatePrice(paidRequest)"></td>
                              </tr>
                            </tbody>
                        </table>
                            <mat-chip-list class="no-wrap" *ngIf="paidRequest.bundleId">
                              <mat-chip color="accent" selected>Bundled</mat-chip>
                            </mat-chip-list>
                        </mat-card-content>

                    </mat-card>
                </div>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon color="accent" class="example-tab-icon">block</mat-icon>
                    &nbsp;
                    Canceled
                </ng-template>
                <div fxLayout="column" style="height:100%;" fxLayoutAlign="center center">
                    <mat-card class="request-card" fxFlex *ngFor="let canceledRequest of canceled">

                        <div fxLayout="row" fxLayoutAlign="center center">
                            <mat-card-header fxFlex>
                                <mat-card-title>{{vehicleName(canceledRequest)}}</mat-card-title>
                                <mat-card-subtitle>{{canceledRequest?.ad?.address}}</mat-card-subtitle>
                            </mat-card-header>

                        </div>

                        <mat-card-content style="padding-left: 10px;padding-right: 10px;">

                            <table fxFlex>
                                <tbody>
                                    <tr>
                                        <th style="text-align: end;">From:</th>
                                        <td>{{canceledRequest?.fromDate | date:'short'}}</td>
                                    </tr>
                                    <tr>
                                        <th style="text-align: end;">To:</th>
                                        <td>{{canceledRequest?.toDate | date:'short'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <mat-chip-list class="no-wrap" *ngIf="canceledRequest.bundleId">
                              <mat-chip color="accent" selected>Bundled</mat-chip>
                            </mat-chip-list>
                        </mat-card-content>

                    </mat-card>
                </div>
            </mat-tab>


  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon color="accent" class="example-tab-icon">done_all</mat-icon>
      &nbsp;
      Completed
    </ng-template>

    <div fxLayout = "column" style="height:100%;" fxLayoutAlign="center center">
      <mat-card *ngFor="let request of completed" fxFlex >
        <div fxLayout="row" fxLayoutAlign="center center">
          <div fxFlex>
            <mat-card-header fxLayout="row" fxLayoutAlign="center">
              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-card-header fxFlex>
                    <mat-card-title>{{vehicleName(request)}}</mat-card-title>
                    <mat-card-subtitle>{{request?.ad?.address}}</mat-card-subtitle>
                </mat-card-header>

                <!-- <div fxFlex="15%">
                    <button mat-mini-fab color="accent" matTooltip="Rent report">
                      <mat-icon>assignment</mat-icon>
                    </button>
                  </div> -->

            </div>
            </mat-card-header>

            <mat-divider horizontal style="height:100px;"></mat-divider>

            <mat-card-content fxLayout="row" fxLayoutAlign="center center">
              <table fxFlex>
                <tbody>
                    <tr>
                        <th style="text-align: end;">From:</th>
                        <td>{{request?.fromDate | date:'short'}}</td>
                    </tr>
                    <tr>
                        <th style="text-align: end;">To:</th>
                        <td>{{request?.toDate | date:'short'}}</td>
                    </tr>
                    <tr>
                      <th style="text-align: end;">Price per day:</th>
                      <td>{{pricePerDay(request) + '$'}}</td>
                    </tr>

                    <tr>
                      <th style="text-align: end;">Price per mile (if limit exceeded):</th>
                      <td>{{pricePerMile(request)}} $</td>
                    </tr>

                    <tr>
                      <th style="text-align: end;">Collision damage waiver:</th>
                      <td>{{priceCDW(request) === 0 ? 'Not included' : (priceCDW(request) + '$')}}</td>
                    </tr>

                    <tr>
                      <th style="text-align: end;">Discount over 30 days:</th>
                      <td>{{discount(request)}} %</td>
                    </tr>

                  <tr>
                      <th style="text-align: end;">Total price: </th>
                      <td [innerHTML]="calculatePrice(request)"></td>
                  </tr>
                </tbody>
            </table>

              <mat-chip-list class="no-wrap" *ngIf="request.bundleId">
                <mat-chip color="accent" selected>Bundled</mat-chip>
              </mat-chip-list>
            </mat-card-content>
          </div>
        </div>

      </mat-card>
    </div>
  </mat-tab>

        </mat-tab-group>
    </mat-card>
</div>
