<div fxLayout="row" fxLayoutAlign="center center" *ngIf="!loaded">
    <mat-spinner color="accent"></mat-spinner>
</div>

<mat-sidenav-container *ngIf="loaded">
  <mat-sidenav #sidenav role="navigation">
    <!-- Agent links -->
    <button color="accent" mat-raised-button (click)="testZuul()">Talk to Zuul please</button>


    <div fxLayout="column">
      <mat-nav-list>
        <div fxLayout="column" fxLayoutAlign="center" *ngIf="user?.privileges[0] === 'ROLE_AGENT'">
            <a mat-list-item routerLink="/vehicles/new">Register a Car</a>
            <a mat-list-item routerLink="/ads/overview">My Ads</a>
            <a mat-list-item routerLink="/ads/new">Post an Ad</a>
            <a mat-list-item routerLink="/rents/overview">My Rents</a>
        </div>
        <div fxLayout="column" fxLayoutAlign="center" *ngIf="user?.privileges[0] === 'ROLE_USER' || user?.privileges[1] === 'ROLE_USER'">
            <a mat-list-item routerLink="/vehicles/new">Register a Car</a>
            <a mat-list-item routerLink="/ads/overview">My Ads</a>
            <a mat-list-item routerLink="/ads/new">Post an Ad</a>
            <a mat-list-item routerLink="/rents/overview">My Rents</a>
            <a mat-list-item routerLink="/rents/requests">My Requests</a>
        </div>
        <div fxLayout="column" fxLayoutAlign="center" *ngIf="user?.privileges[0] === 'ROLE_ADMIN'">
            <a mat-list-item routerLink="/dashboard">Dashboard</a>
        </div>
        
    </mat-nav-list>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayout="row">
      <div>
          <button mat-icon-button (click)="sidenav.toggle()" *ngIf="user">
              <mat-icon>menu</mat-icon>
          </button>
      </div>

      <a routerLink="/" fxFlex="10%">
          <img src="../assets/logo.png" alt="MONOLITH" style="height: 50px ;">
      </a>

      <div fxFlex></div>
      <div fxFlex="20%" fxLayoutAlign="end">

          <div class="navLink" *ngIf="user">
              <button mat-icon-button color="accent" routerLink="inbox">
                  <mat-icon matBadge="3" matBadgePosition="after" matBadgeColor="warn">mail</mat-icon>
              </button>
          </div>
          <div class="navLink">
              <button mat-icon-button color="accent" (click)="shoppingCartClick()">
                  <mat-icon matBadge="{{cartItemsNum}}" matBadgePosition="after" matBadgeColor="warn">
                      shopping_cart</mat-icon>
              </button>
          </div>
          <div class="navLink" *ngIf="user">
              <button mat-raised-button (click)="logout()">
                  Log out
              </button>
          </div>

          <div class="navLink" *ngIf="!user">
              <button mat-raised-button color="accent" routerLink="/auth">
                  Log In
              </button>
          </div>

      </div>
  </mat-toolbar>
    <main style="height: 100%;">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
