<div class="container">
  <angular-yandex-map
    [center]="geometry"
    [zoom]="12"
    (load)="onLoad($event)">
    <!-- <angular-yandex-placemark [geometry]="geometry"></angular-yandex-placemark> -->
    <!-- <angular-yandex-geoobject *ngFor="let point of points"
      [feature]="point.feature"
      [options]="point.options"
    ></angular-yandex-geoobject> -->

     <angular-yandex-geoobject *ngFor="let point of points"
      [feature]="point.feature"
      [options]="point.options"
    ></angular-yandex-geoobject>
  </angular-yandex-map>
</div>
