<div fxLayout="column" fxLayoutAlign="center center">
    <img fxFlex src="../../../assets/logo.png" alt="MONOLITH" style="width: 30%;">
    <mat-card class="example-card" fxFlex style="width: 30%; padding: 15px;">
        <form [formGroup]="loginForm" *ngIf="login" (submit)="loginSubmit()">
            <mat-card-content style="text-align: center;">
                <h1>Welcome back!</h1>
                <!-- 'legacy' | 'standard' | 'fill' | 'outline'; -->
                <div fxLayout="column" fxLayoutAlign="center">
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>E-Mail</mat-label>
                        <input matInput formControlName="email">
                    </mat-form-field>
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="pass" type="password">
                        <!-- <mat-error *ngIf="errorMessage">{{errorMessage.errors[0]}}</mat-error> -->
                    </mat-form-field>
                </div>

                <p>
                    <a mat-button routerLink="/change-password">Forgot password</a>
                </p>
                <p>
                    Don't have an account?
                    <button type="button" mat-button (click)="this.login=!this.login">Sign Up!</button>
                </p>

            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutAlign="center">
                <button mat-raised-button type="submit" color="accent">Log In</button>
            </mat-card-actions>
        </form>

        <form [formGroup]="signupForm" *ngIf="!login" (submit)="signupSubmit()">
            <mat-card-content style="text-align: center;">
                <h1>Join us!</h1>
                <div fxLayout="column" fxLayoutAlign="center">
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>E-Mail</mat-label>
                        <input matInput formControlName="email" type="email">
                    </mat-form-field>
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="pass" type="password">
                    </mat-form-field>
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Repeat password</mat-label>
                        <input matInput formControlName="pass-rep" type="password">
                        <mat-error *ngIf="signupForm && signupForm.controls['pass-rep'].errors && signupForm.controls['pass-rep'].errors.mustMatch">Password doesn't match</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" type="text">
                    </mat-form-field>
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Surname</mat-label>
                        <input matInput formControlName="surname" type="text">
                    </mat-form-field>
                </div>
                
                <p>
                    Already a member?
                    <button type="button" mat-button (click)="this.login=!this.login;">Log In!</button>
                </p>

            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutAlign="center">
                <button mat-raised-button type="submit" color="accent">Sign Up</button>
            </mat-card-actions>
        </form>
    </mat-card>

    <button type="button" mat-raised-button color="primary" (click)="testClick()">TEST ME</button>
</div>