.owner-ads-container {
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(190, 190, 190);
    width: 100%;
    background-color: rgba(255, 255, 255, 0.534);
}

.content{
    margin-top: 25px;
    padding-left: 300px;
    padding-right: 300px;
}

mat-card {
    margin-bottom: 5px;
    width: 100%;
}

.mini-button {
    margin-left: 10px;
    height: 40px;
    width: 40px;
}
