<section fxFlex="200%" fxLayout="column" fxLayoutAlign="center center"  style="margin-top: 200px;">
    <mat-accordion style="width:600px; height: 200px;"> 
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle class="model_panel">
            <mat-expansion-panel-header >
                <mat-panel-title><b>
                    Model Type
                </b></mat-panel-title>
                <mat-panel-description>
                    Click for preview...
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-action-row fxLayout="column" class="model_action">
                <table mat-table [dataSource]="dataModelSource" class="mat-elevation-z8">

                    <!-- Position Column -->
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> Id </th>
                      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                      <th mat-header-cell *matHeaderCellDef> Delete </th>
                      <td mat-cell *matCellDef="let element" >  
                        <button mat-button (click)="deleteModel(element.name)"><mat-icon>delete</mat-icon></button> 
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="edit">
                      <th mat-header-cell *matHeaderCellDef> Edit </th>
                      <td mat-cell *matCellDef="let element" >  
                      <button mat-button (click)="editModel(element)"><mat-icon>edit</mat-icon></button> 
                      </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <br/>
                <button mat-button color="primary" (click)="openModelDialog()">Add</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle class="body_panel">
            <mat-expansion-panel-header>
                <mat-panel-title><b>
                    Body Type
                  </b></mat-panel-title>
                <mat-panel-description>
                    Click for preview...
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-action-row fxLayout="column" class="body_action">
                <table mat-table [dataSource]="dataBodySource" class="mat-elevation-z8">

                    <!-- Position Column -->
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> Id </th>
                      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                      <th mat-header-cell *matHeaderCellDef> Delete </th>
                      <td mat-cell *matCellDef="let element" >  
                        <button mat-button (click)="deleteBody(element.name)"><mat-icon>delete</mat-icon></button> 
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="edit">
                      <th mat-header-cell *matHeaderCellDef> Edit </th>
                      <td mat-cell *matCellDef="let element" >  
                      <button mat-button (click)="editBody(element)"><mat-icon>edit</mat-icon></button> 
                      </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <br/>
                <button mat-button color="primary" (click)="openBodyDialog()">Add</button>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
              </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle class="brand_panel">
            <mat-expansion-panel-header>
                <mat-panel-title><b>
                    Brand Type
                  </b></mat-panel-title>
                <mat-panel-description>
                    Click for preview...
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-action-row fxLayout="column" class="brand_action">
                <table mat-table [dataSource]="dataBrandSource" class="mat-elevation-z8">

                    <!-- Position Column -->
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> Id </th>
                      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                      <th mat-header-cell *matHeaderCellDef> Delete </th>
                      <td mat-cell *matCellDef="let element" >  
                        <button mat-button (click)="deleteBrand(element.name)"><mat-icon>delete</mat-icon></button> 
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="edit">
                      <th mat-header-cell *matHeaderCellDef> Edit </th>
                      <td mat-cell *matCellDef="let element" >  
                      <button mat-button (click)="editBrand(element)"><mat-icon>edit</mat-icon></button> 
                      </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <br/>
                <button mat-button color="primary" (click)="openBrandDialog()">Add</button>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
              </mat-action-row>

           
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle class="fuel_panel">
            <mat-expansion-panel-header>
                <mat-panel-title><b>
                    Fuel Type
                  </b></mat-panel-title>
                <mat-panel-description>
                    Click for preview...
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-action-row fxLayout="column" class="fuel_action">
                <table mat-table [dataSource]="dataFuelSource" class="mat-elevation-z8">

                    <!-- Position Column -->
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> Id </th>
                      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                      <th mat-header-cell *matHeaderCellDef> Delete </th>
                      <td mat-cell *matCellDef="let element" >  
                        <button mat-button (click)="deleteFuel(element.name)"><mat-icon>delete</mat-icon></button> 
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="edit">
                      <th mat-header-cell *matHeaderCellDef> Edit </th>
                      <td mat-cell *matCellDef="let element" >  
                      <button mat-button (click)="editFuel(element)"><mat-icon>edit</mat-icon></button> 
                      </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <br/>
                <button mat-button color="primary" (click)="openFuelDialog()">Add</button>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">End</button>
              </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</section>