<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="example-card" fxFlex style="width: 30%; padding: 40px; margin-top:40px;">

        <form  [formGroup]="registerForm" (submit)="registerSubmit()">
            <mat-card-content style="text-align: center;">
                <h1>Register company</h1>
                <div fxLayout="column" fxLayoutAlign="center">
                    <mat-form-field fxFlex appearance="outline">
                        <mat-icon matPrefix>perm_identity</mat-icon>
                        <mat-label>Name</mat-label>
                        <input matInput type="text" formControlName="name">
                        <mat-error *ngIf="registerForm.get('name').hasError('required')">Field must not be empty!</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex appearance="outline">
                        <mat-icon matPrefix>alternate_email</mat-icon>
                        <mat-label>E-Mail</mat-label>
                        <input matInput type="email" formControlName="email">
                        <mat-error *ngIf="registerForm.get('email').hasError('required')">Field must not be empty!</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex appearance="outline">
                        <mat-icon matPrefix>language</mat-icon>
                        <mat-label>Website</mat-label>
                        <input matInput type="text" formControlName="website">
                        <mat-hint align="start"><strong>Enter valid form for website (www.website.com)!</strong> </mat-hint>
                        <mat-error *ngIf="registerForm.get('website').hasError('required')">Field must not be empty!</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex appearance="outline">
                        <mat-icon matPrefix>location_on</mat-icon>
                        <mat-label>Address</mat-label>
                        <input matInput type="text" formControlName="address">
                        <mat-error *ngIf="registerForm.get('address').hasError('required')">Field must not be empty!</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex appearance="outline">
                        <mat-icon matPrefix>business</mat-icon>
                        <mat-label>Business number</mat-label>
                        <input matInput type="number" formControlName="businessNumber" #message maxlength="10">
                        <mat-hint align="start"><strong>Number of characters must be 10!</strong> </mat-hint>
                        <mat-hint align="end">{{message.value.length}} / 10</mat-hint>
                        <mat-error *ngIf="registerForm.get('businessNumber').hasError('required')">Field must not be empty!</mat-error>
                      
                    </mat-form-field>
                </div>
               
            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutAlign="center">
                <button mat-raised-button type="submit"  color="accent">Register</button>
            </mat-card-actions>
        </form>
    </mat-card>

</div>