<div class="content" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="10px">

    <!-- Filters -->
    <div fxFlex="20%" class="filters">
        <mat-card class="filters-card">
            <mat-card-header>
                <mat-card-title>Filters</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <form [formGroup]="filterForm" fxLayout="column" fxLayoutAlign="center center" style="padding: 10px;">

                    <mat-form-field appearance="standard" fxFlex>
                        <mat-label>Brand</mat-label>
                        <mat-select formControlName="brandType">
                            <mat-option *ngFor="let brand of brands" value="{{brand.id}}" (click)="brandChanged(brand)">
                                {{brand.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="standard" fxFlex>
                        <mat-label>Model</mat-label>
                        <mat-select formControlName="modelType">
                            <mat-option *ngFor="let model of models" value="{{model.id}}">{{model.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="standard" fxFlex>
                        <mat-label>Fuel</mat-label>
                        <mat-select formControlName="fuelType">
                            <mat-option *ngFor="let fuel of fuels" value="{{fuel.id}}">{{fuel.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="standard" fxFlex>
                        <mat-label>Gearbox</mat-label>
                        <mat-select formControlName="gearboxType">
                            <mat-option *ngFor="let gb of gearboxes" value="{{gb.id}}">{{gb.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="standard" fxFlex>
                        <mat-label>Body</mat-label>
                        <mat-select formControlName="bodyType">
                            <mat-option *ngFor="let body of bodies" value="{{body.id}}">{{body.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
                        <mat-form-field appearance="standard" fxFlex="20%">
                            <mat-label>Price min</mat-label>
                            <input formControlName="priceMin" matInput type="number" min="0">
                        </mat-form-field>
                        <mat-form-field appearance="standard" fxFlex="20%">
                            <mat-label>Price max</mat-label>
                            <input formControlName="priceMax" matInput type="number" min="0">
                        </mat-form-field>
                    </div>

                    <mat-form-field appearance="standard" fxFlex="20%">
                        <mat-label>Max mileage</mat-label>
                        <input formControlName="mileage" matInput type="number" min="0">
                    </mat-form-field>

                    <mat-checkbox (click)="cdwClick()" [(ngModel)]="cdw" [ngModelOptions]="{standalone: true}">Collision
                        Damage Waiver</mat-checkbox>

                    <mat-form-field appearance="standard" fxFlex="20%">
                        <mat-label>Child seats</mat-label>
                        <input formControlName="childSeats" matInput type="number" min="0" max="5">
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
                <button fxFlex mat-raised-button (click)="reset()">Reset</button>
                <button fxFlex mat-raised-button color="accent" (click)="filter()">Apply</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div fxFlex="70%" class="ads-containter">

        <!-- Required for basic search -->
        <div class="basic-search">
            <form [formGroup]="basicSearchForm" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
                <mat-form-field appearance="standard" fxFlex="20%">
                    <mat-label>Location</mat-label>
                    <mat-select formControlName="location">
                        <mat-option *ngFor="let location of locations" value="{{location.id}}">{{location.city}},
                            {{location.country}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="standard" fxFlex="25%">
                    <mat-label>From</mat-label>
                    <input matInput formControlName="from" type="datetime-local" placeholder="start date">
                    <!-- <input formControlName="from" matInput [matDatepicker]="fromPicker">
                    <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                    <mat-datepicker #fromPicker></mat-datepicker> -->
                    <mat-error *ngIf="basicSearchForm.controls.from.errors?.twoDays">Chosen date must be at least 2 days
                        from now</mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard" fxFlex="25%">
                    <mat-label>To</mat-label>
                    <input matInput formControlName="to" type="datetime-local" placeholder="end date">
                    <!-- <input formControlName="to" matInput [matDatepicker]="toPicker">
                    <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                    <mat-datepicker #toPicker></mat-datepicker> -->
                </mat-form-field>

                <button mat-mini-fab color="accent" aria-label="Search" (click)="searchSubmit()"
                    [disabled]="!basicSearchForm.valid">
                    <mat-icon>search</mat-icon>
                </button>
            </form>
        </div>

        <!-- Sorting thingy -->
        <div fxLayout="row" fxLayoutAlign="end">
            <mat-form-field appearance="standard" fxFlex="20%">
                <mat-label>Sort by</mat-label>
                <mat-select [(value)]="s">
                    <mat-select-trigger *ngIf="s" class="s">
                        <span>{{s.name}}</span>
                        <mat-icon>{{s.icon}}</mat-icon>
                    </mat-select-trigger>
                    <mat-option *ngFor="let s of sort" [value]="s" (click)="sortClick()">
                        {{s.name}}
                        <mat-icon>{{s.icon}}</mat-icon>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <!-- Search results -->
        <div>
            <mat-card *ngFor="let ad of ads">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div fxFlex="20%" class="image-container" fxLayout="row" fxLayoutAlign="center center">
                        <img fxFlex *ngIf="ad.image" [src]="getSantizeUrl(ad.image)" alt="image" height="150"
                            width="120">
                        <img fxFlex *ngIf="!ad.image" src="../../../../../assets/noimage.png" alt="image" height="150"
                            width="120">
                    </div>


                    <div fxFlex>
                        <mat-card-header fxLayout="row" fxLayoutAlign="center">
                            <div fxFlex>
                                <mat-card-title>{{ad?.vehicleObj?.brandType.name}} {{ad?.vehicleObj?.modelType.name}}
                                </mat-card-title>
                                <mat-card-subtitle>{{ad?.locationObj?.city}}, {{ad?.locationObj?.country}}
                                </mat-card-subtitle>
                            </div>
                            <div fxFlex="30%">
                                <span>
                                    <mat-icon style="padding: 0px; margin: 0px;vertical-align:middle;" color="warn">star_rate</mat-icon>
                                    {{ad?.averageRate}}
                                </span>
                                    
                                
                                <button class="mini-button" mat-mini-fab color="accent" aria-label="Price"
                                    (click)="priceClick(ad.priceListObj?.id, ad.mileLimit, ad.vehicleObj?.cdw)"
                                    matTooltip="Click for more info about pricing">
                                    {{ad?.priceListObj?.pricePerDay}}$
                                </button>
                                <button class="mini-button" mat-mini-fab color="accent" aria-label="Cart"
                                    matTooltip="Add to Cart" (click)="addToCart(ad)">
                                    <mat-icon>add_shopping_cart</mat-icon>
                                </button>
                                
                                

                            </div>
                        </mat-card-header>

                        <mat-card-content fxLayout="row" fxLayoutAlign="center center">
                            <table fxFlex="30%">
                                <tbody>
                                    <tr>
                                        <td>Fuel:</td>
                                        <td>{{ad?.vehicleObj?.fuelType.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Gearbox:</td>
                                        <td>{{ad?.vehicleObj?.gearboxType.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Body:</td>
                                        <td>{{ad?.vehicleObj?.bodyType.name}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <mat-divider vertical style="height:100px;margin-right: 5px;"></mat-divider>

                            <table fxFlex="50%">
                                <tbody>
                                    <tr>
                                        <td>Mileage:</td>
                                        <td>{{ad?.vehicleObj?.mileage}}</td>
                                    </tr>
                                    <tr>
                                        <td>Collision Damage Waiver:</td>
                                        <td>
                                            <mat-icon *ngIf="!ad?.vehicleObj?.cdw">close</mat-icon>
                                            <mat-icon *ngIf="ad?.vehicleObj?.cdw">check</mat-icon>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Child Seats:</td>
                                        <td>
                                            {{ad?.vehicleObj?.childSeats}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div fxFlex></div>
                        </mat-card-content>
                    </div>

                </div>

                <mat-card-actions fxLayout="row" fxLayoutAlign="end">
                    <button mat-raised-button color="primary" fxFlex (click)="openDetails(ad.id)">Details</button>
                </mat-card-actions>
            </mat-card>

            <!--  [length]="dataSource.data?.length" -->
            <mat-paginator [pageSize]="10" [length]="dataSource?.data?.length" showFirstLastButtons>
            </mat-paginator>
        </div>

    </div>

</div>