
@import '~@angular/material/theming';
@include mat-core();
$wroom-ui-primary: mat-palette($mat-gray, 300, 900, 400);
$wroom-ui-accent: mat-palette($mat-red, 400, 600, 300);
$wroom-ui-warn: mat-palette($mat-orange, 300);
$wroom-ui-theme: mat-light-theme($wroom-ui-primary, $wroom-ui-accent, $wroom-ui-warn);
@include angular-material-theme($wroom-ui-theme);
