<div class="container">
    <div class="welcome" fxLayout="column" fxLayoutAlign="center center">
        <h1>WROOM</h1>
        <!-- To do: neki informativni tekst -->
        <div fxLayout="row">
            <button mat-stroked-button color="primary">Rent a car</button>
        </div>
    </div>

    <div class="content"  fxLayout="row" fxLayoutAlign="center" style="margin: 10px;">
        <div fxFlex></div>
        <mat-card fxFlex="50%" style="padding: 3px; margin: 0px; height: 100%;">
            
            <mat-card-content fxLayout="row" fxLayoutAlign="center center">
                <table fxFlex>
                    <tr>
                        <td><mat-icon>location_on</mat-icon></td>
                        <td><p>Trg Dositeja Obradovića 6, Novi Sad</p></td>
                    </tr>
                    <tr>
                        <td><mat-icon>mail_outline</mat-icon></td>
                        <td><p>info@wroom.org</p></td>
                    </tr>
                </table>

                <div class="container-map" fxFlex>
                    <angular-yandex-map [center]="[45.2461012, 19.8495081]" [zoom]="15">
                        <angular-yandex-placemark [geometry]="[45.2461012, 19.8495081]"></angular-yandex-placemark>
                    </angular-yandex-map>
                </div>
            </mat-card-content>
        </mat-card>
        <div fxFlex></div>


    </div>

</div>