.container {
    margin-top: 25px;
    padding: 10px;
    height: 100%;
}

.welcome {
    color: white;
    background-image: url('../../../../assets/cars.jpg');
    height: 70%;
}

.welcome h1 {
    font-size: 75px;
}

.content {
    height: 30%;
}

.container-map {
    /* width: 1000px; */
    height: 200px;
}