.content {
    margin-top: 25px;
    padding: 10px;
}

.filters {
    padding: 5px;
}

mat-list-option {
    height: auto;
}

td {
    padding: 5px;
}

mat-card {
    margin-bottom: 10px;
}

mat-card-content {
    padding-left: 20px;
}

.mini-button {
    margin-left: 10px;
}

.image-container {
    background-color: rgb(228, 228, 228);
}