<div class="content" fxLayout="column" fxLayoutAlign="center center" style="margin-top: 25px;">
    
    <mat-card fxFlex="50%" style="width: 50%;">
        <h2 style="text-align: center;">Enter new Password</h2>
        <mat-card-content>
            <form [formGroup]="form" fxLayout="column" fxLayoutAlign="center center">
                <mat-form-field fxFlex appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput formControlName="pass" type="password">
                </mat-form-field>
                <mat-form-field fxFlex appearance="outline">
                    <mat-label>Repeat password</mat-label>
                    <input matInput formControlName="repeat" type="password">
                    <mat-error *ngIf="form && form.controls['repeat'].errors && form.controls['repeat'].errors.mustMatch">Password doesn't match</mat-error>
                </mat-form-field>

                <div fxLayout="row" fxLayoutAlign="center">
                    <button type="button" (click)="submitClick()" mat-raised-button color="accent">Confirm</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>