<div class="content" fxLayout="column" fxLayoutAlign="center center">
    <div fxFlex="70%" class="image" fxLayout="column" fxLayoutAlign="center start">
        <div fxFlex>
            <h3 >See our catalogue and choose your perfect match!</h3>
            <button mat-raised-button>Let's go</button>
        </div>
        
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="center center">
        <button fxFlex="40%" type="button" mat-raised-button color="primary" (click)="testRoleClick()">TEST ROLE</button>
        <button fxFlex="60%" type="button" mat-raised-button color="primary" (click)="testPermissionClick()">TEST PERMISSION</button>
    </div>
</div>