<div class="content" fxLayout="column" fxLayoutAlign="center center">
    <div fxFlex>
        <mat-card class="banner">
            <mat-card-content class="image" fxLayout="column" fxLayoutAlign="center end">
              <div fxFlex fxLayout="column" fxLayoutAlign="center center" style="width: 40%; background-color: rgba(255, 255, 255, 0.596);" >
                <h1 fxFlex="5%">For memorable trips</h1>
                <h3 fxFlex="7%">Browse through our catalogue, find your perfect vehicle and rent it</h3>
                <button fxFlex="15%" mat-raised-button type="button" (click)="search()">See Catalogue</button>
              </div>
            </mat-card-content>
          </mat-card>
    </div>
    
</div>