<mat-tab-group mat-align-tabs="center" dynamicHeight style="background-color: white; margin: 25px;">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon color="accent" class="example-tab-icon">event_note</mat-icon>
      &nbsp;
      Physically reserved
    </ng-template>
    <div  fxLayout = "column" style="height:100%;" fxLayoutAlign="center center">
      <mat-card *ngFor="let request of physicallyReservedList" fxFlex >
        <div fxLayout="row" fxLayoutAlign="center center">
          <div fxFlex>
            <mat-card-header fxLayout="row" fxLayoutAlign="center">
              <div fxFlex>
                <mat-card-title>{{vehicleName(request)}}
                </mat-card-title>
              </div>
            </mat-card-header>

            <mat-divider horizontal style="height:100px;"></mat-divider>

            <mat-card-content fxLayout="row" fxLayoutAlign="center center">
              <table  style="width:500px;">
                <tbody>
                  <tr>
                    <td>From:</td>
                    <td>{{request.fromDate |  date:'MM/dd/yyyy'}}</td>
                  </tr>
                  <tr>
                    <td>To:</td>
                    <td>{{request.toDate |  date:'MM/dd/yyyy'}}</td>
                  </tr>
                </tbody>
              </table>
              <div fxFlex></div>
            </mat-card-content>
          </div>
        </div>

      </mat-card>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon color="accent" class="example-tab-icon">lock</mat-icon>
      &nbsp;
      Reserved
    </ng-template>
    <div  fxLayout = "column" style="height:100%;" fxLayoutAlign="center center">
      <mat-card *ngFor="let request of reservedList" fxFlex>
        <div fxLayout="row" fxLayoutAlign="center center">
          <div fxFlex>
            <mat-card-header fxLayout="row" fxLayoutAlign="center">
              <div fxFlex>
                <mat-card-title>{{vehicleName(request)}}
                </mat-card-title>
              </div>
            </mat-card-header>

            <mat-divider horizontal style="height:100px;"></mat-divider>

            <mat-card-content fxLayout="row" fxLayoutAlign="center center">
              <table style="width:500px;">
                <tbody>
                  <tr>
                    <td>From:</td>
                    <td>{{request.fromDate |  date:'MM/dd/yyyy'}}</td>
                  </tr>
                  <tr>
                    <td>To:</td>
                    <td>{{request.toDate |  date:'MM/dd/yyyy'}}</td>
                  </tr>
                </tbody>
              </table>
              <div fxFlex></div>
            </mat-card-content>
          </div>
        </div>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon color="accent" class="example-tab-icon">payments</mat-icon>
      &nbsp;
      Pending
    </ng-template>
    <div fxLayout = "column" style="height:100%;" fxLayoutAlign="center center">
      <mat-card *ngFor="let request of pendingList" fxFlex >
        <div fxLayout="row" fxLayoutAlign="center center">
          <div fxFlex>
            <mat-card-header fxLayout="row" fxLayoutAlign="center">
              <div fxFlex>
                <mat-card-title>{{vehicleName(request)}}
                </mat-card-title>
              </div>
            </mat-card-header>

            <mat-divider horizontal style="height:100px;"></mat-divider>

            <mat-card-content fxLayout="row" fxLayoutAlign="center center">
              <table style="width:500px;">
                <tbody>
                  <tr>
                    <td>From:</td>
                    <td>{{request.fromDate |  date:'MM/dd/yyyy'}}</td>
                  </tr>
                  <tr>
                    <td>To:</td>
                    <td>{{request.toDate |  date:'MM/dd/yyyy'}}</td>
                  </tr>
                </tbody>
              </table>
            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutAlign="end">
              <button mat-raised-button color="primary">Accept</button>
              <button mat-raised-button color="warn">Decline</button>
          </mat-card-actions>
          </div>
        </div>

      </mat-card>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon color="accent" class="example-tab-icon">attach_money</mat-icon>
      &nbsp;
      Paid
    </ng-template>
    <div  fxLayout = "column" style="height:100%;" fxLayoutAlign="center center">
      <mat-card *ngFor="let request of paidList" fxFlex >
        <div fxLayout="row" fxLayoutAlign="center center">
          <div fxFlex>
            <mat-card-header fxLayout="row" fxLayoutAlign="center">
              <div fxFlex>
                <mat-card-title>{{vehicleName(request)}}
                </mat-card-title>
              </div>
            </mat-card-header>

            <mat-divider horizontal style="height:100px;"></mat-divider>

            <mat-card-content fxLayout="row" fxLayoutAlign="center center">
              <table style="width:500px;">
                <tbody>
                  <tr>
                    <td>From:</td>
                    <td>{{request.fromDate |  date:'MM/dd/yyyy'}}</td>
                  </tr>
                  <tr>
                    <td>To:</td>
                    <td>{{request.toDate |  date:'MM/dd/yyyy'}}</td>
                  </tr>
                </tbody>
              </table>
              <div fxFlex></div>
            </mat-card-content>
          </div>
        </div>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon color="accent" class="example-tab-icon">block</mat-icon>
      &nbsp;
      Canceled
    </ng-template>
    <div  fxLayout = "column" style="height:100%;" fxLayoutAlign="center center">
      <mat-card *ngFor="let request of canceledList" fxFlex >
        <div fxLayout="row" fxLayoutAlign="center center">
          <div fxFlex>
            <mat-card-header fxLayout="row" fxLayoutAlign="center">
              <div fxFlex>
                <mat-card-title>{{vehicleName(request)}}
                </mat-card-title>
              </div>
            </mat-card-header>

            <mat-divider horizontal style="height:100px;"></mat-divider>

            <mat-card-content fxLayout="row" fxLayoutAlign="center center">
              <table style="width:500px;">
                <tbody>
                  <tr>
                    <td>From:</td>
                    <td>{{request.fromDate |  date:'MM/dd/yyyy'}}</td>
                  </tr>
                  <tr>
                    <td>To:</td>
                    <td>{{request.toDate |  date:'MM/dd/yyyy'}}</td>
                  </tr>
                </tbody>
              </table>
              <div fxFlex></div>
            </mat-card-content>
          </div>
        </div>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
