

@import '~@angular/material/theming';
@include mat-core();

$wroom-ui-primary: mat-palette($mat-gray, 700, 900, 600);
$wroom-ui-accent: mat-palette($mat-red, 800, 900, 600);
$wroom-ui-warn: mat-palette($mat-amber, 800, 900, 600);

$wroom-ui-theme: mat-light-theme($wroom-ui-primary, $wroom-ui-accent, $wroom-ui-warn);

@include angular-material-theme($wroom-ui-theme);

