<section class="admin-home-content">
  <div class="container" fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
    <mat-card class="matcard" fxFlex="20%">
      <mat-card-header>
        <mat-card-title>Manage vehicle features</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Access all the necessary vehicle components in the system.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" routerLink="./vehicles/features-overview">Manage</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="matcard" fxFlex="20%">
      <mat-card-header>
        <mat-card-title>Manage system users</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Or simply reject all of them?
          <br><br><br>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" routerLink="./users">Manage</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="matcard" fxFlex="20%">
      <mat-card-header>
        <mat-card-title>Manage comments</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Admit or reject user-made comments.
          <br><br>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" routerLink="./ads/comments">Manage</button>
      </mat-card-actions>
    </mat-card>

    <!-- <mat-card class="matcard" fxFlex="20%">
      <mat-card-header>
        <mat-card-title>Register a company</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          More funds for us.
          <br><br><br>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" routerLink="../company">Register</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="matcard" fxFlex="20%">
      <mat-card-header>
        <mat-card-title>Role based access system</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Funny term for a serious feature.
          <br><br>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" routerLink="../rbac">Bless</button>
      </mat-card-actions>
    </mat-card> -->
  </div>

</section>
