<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <!-- Agent links -->
        <!-- <button color="accent" mat-raised-button (click)="testZuul()">Talk to Zuul please</button> -->
        <div fxLayout="column">
            <mat-nav-list>
                <div fxLayout="row" fxLayoutAlign="center">
                    
                </div>
                <a mat-list-item *ngIf="user?.privileges[0] !== 'ROLE_ADMIN'"routerLink="/vehicles/new">Register a Car</a>
                <a mat-list-item *ngIf="user?.privileges[0] !== 'ROLE_ADMIN'" routerLink="/ads/overview">My Ads</a>
                <a mat-list-item  *ngIf="user?.privileges[0] === 'ROLE_ADMIN'" routerLink="/dashboard">Dashboard</a>
                <!-- ... -->
            </mat-nav-list>
        </div>

    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" fxLayout="row">
            <div>
                <button mat-icon-button (click)="sidenav.toggle()" *ngIf="user">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>

            <a routerLink="/" fxFlex="15%">
                <img src="../assets/logo.png" alt="MONOLITH" style="width: 100%;">
            </a>

            <div fxFlex></div>
            <div fxFlex="20%" fxLayoutAlign="end">
                <!-- <button mat-icon-button color="accent" routerLink="/messages">
              <mat-icon>email</mat-icon>
            </button> -->
                <div class="navLink" *ngIf="!user">
                    <button mat-raised-button color="accent" routerLink="/auth">
                        Log In
                    </button>
                </div>
               
                <div class="navLink" *ngIf="user">
                    <button mat-icon-button color="accent">
                        <mat-icon matBadge="3" matBadgePosition="after" matBadgeColor="warn">mail</mat-icon>
                    </button>
                </div>
                <div class="navLink" *ngIf="user">
                    <button mat-icon-button color="accent" (click)="shoppingCartClick()">
                        <mat-icon matBadge="{{cartItemsNum}}" matBadgePosition="after" matBadgeColor="warn">shopping_cart</mat-icon>
                    </button>
                </div>
                <div class="navLink" *ngIf="user">
                    <button mat-raised-button (click)="logout()">
                        Log out
                    </button>
                </div>


            </div>
        </mat-toolbar>
        <main style="height: 100%;">
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
