<section  fxFlex="100%" fxLayout="column" fxLayoutAlign="center center" style="margin-top: 300px;"
*ngIf="!success && !spin">
<h1>Create new Model Type</h1>
<br>
<form [formGroup]="createForm" fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="onSubmit()">


    <mat-form-field>
        <input type="text" matInput formControlName="name" placeholder="Name" required>
    </mat-form-field>
    <div>
        <button mat-raised-button color="accent" type="submit">Create</button>
    </div>
</form>
</section>

<div *ngIf="spin" fxFlex="100%" fxLayout="column" fxLayoutAlign="center center" style="margin-top:25px">
    <img style=" display: block; margin-left: auto; margin-right: auto; width: 20%;"
class="loadingIcon" src="https://media.giphy.com/media/dZoDigtipLngohGPEk/giphy.gif">
    <h1 style="margin-top: 15px">Just a little moment...</h1>
    <h3>Your request is being processed.</h3>
</div>

<div *ngIf="success && !spin" fxFlex="100%" fxLayout="column" fxLayoutAlign="center center"
    style="margin-top:25px; text-align: center;">
    <h1>Success</h1>
    <h3>Model Type successfully created.</h3>
    <h4>Back to <a routerLink="/">Home page</a></h4>
</div>
